.direnv
*__pycache__
*generate_*.py
*drafts
*colab
*chunk_*.txt
*.chroma
*.pytest_cache
*models
*data
*wandb
*videos
*logs
*interp_on_model*.ipynb
*other_solns
*.vscode
*stats.md
my_regex.py
id_rsa
id_rsa.pub
*ignore.ipynb
changes.md
.venv
.data
.checkpoints
.ipynb_checkpoints
.evaluations
